<header
  class="sticky top-0 z-50 bg-linear-to-r from-[#1e1b4b] via-[#3730a3] to-[#6d28d9] text-white px-6 min-h-16 flex items-center border-b border-white/10 shadow-lg">

  <div class="w-full py-[0.9rem] flex items-center justify-between">

    <div class="flex items-center gap-3">
      <button mat-icon-button (click)="toggleSidebar()" class="rounded-xl hover:bg-white/10 transition">
        <mat-icon svgIcon="bars"></mat-icon>
      </button>

      <h1 class="font-serif text-2xl italic tracking-tight text-white">
        Universal Utilities
      </h1>

      <mat-icon class="text-[1.6rem] text-violet-300" svgIcon="screwdriver-wrench"></mat-icon>
    </div>

    <span class="text-[11px] font-mono uppercase tracking-[0.2em] text-white/50 hidden sm:block">
      Client-Side Tools
    </span>

  </div>

</header>


<mat-sidenav-container class="grow" style="height: calc(100vh - 80px)">

  <mat-sidenav mode="side" opened class="border-r border-slate-200 bg-white shadow-sm transition-all duration-300"
    [style.width.px]="sidebarOpened() ? 280 : 72">

    <div class="h-full overflow-y-auto custom-scrollbar flex flex-col transition-all duration-300"
      [class.p-5]="sidebarOpened()" [class.p-2]="!sidebarOpened()">

      <mat-nav-list class="p-0" [class.collapsed-sidebar]="!sidebarOpened()">

        @for (item of NAV_ITEMS; track item) {

        @if (item.type === 'divider') {
        <div class="my-4 border-t border-slate-200"></div>
        } @else {

        <a mat-list-item [routerLink]="item.path" routerLinkActive="nav-active"
          class="nav-item rounded-xl transition-all hover:bg-slate-50" [matTooltip]="!sidebarOpened() ? item.label : ''"
          matTooltipPosition="right">
          <mat-icon matListItemIcon [svgIcon]="item.icon"></mat-icon>

          @if (sidebarOpened()) {
          <span class="menu-label">{{ item.label }}</span>
          }
        </a>

        }
        }

      </mat-nav-list>

    </div>

  </mat-sidenav>

  <!-- CONTENT -->

  <mat-sidenav-content class="bg-slate-50 overflow-y-auto custom-scrollbar transition-all duration-300"
    [style.margin-left.px]="sidebarOpened() ? 280 : 72">

    <div class="p-4 sm:p-8 w-full min-h-full flex justify-center">

      <div class="w-full max-w-7xl">

        <router-outlet />

      </div>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>